fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
httpx
sqlalchemy
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
python-multipart
